@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.wrapper {
    margin-top: 150px;
    background-color: $bg-primary;
    color: $black;
    border-radius: 15px;
    padding: 20px;

    @include tablet {
        margin-top: 60px;
        width: 90vw;
        padding: 10px;
    }
}

.title {
    font-size: 36px;
}

.content {
    font-size: 24px;

    :not(:first-child) {
        margin-left: 40px;
    }

}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.input {
    width: calc(100% - 10px);
    background-color: $bg;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 30px;

    @include tablet {
        font-size: 14px;
        padding: 5px;
    }
}

.button {
    width: calc(100% - 100px);
    background-color: $bg;
    border: none;
    border-radius: 15px;
    margin-left: 10px;
    font-size: 30px;

    @include tablet {
        font-size: 20px;
    }
}